
.text-primary {
    color: #33FF00 !important;
}

.btn-primary {
    background-color: #33FF00 !important;
    border: 1px solid #30c513 !important;
}

.bg-dark {
    background-color: #2D1169 !important;
}

.centralizar {
    text-align: center;
}
.center-align {
    display: center;
    align-items: center;
    justify-content: center;

  }

  .rounded-div {
    display: inline-block;
    background-color: white;
    border-radius: 50px;
    padding: 10px 20px;
  }

  .rounded-div .custom-button {
    background-color: white;
    color: black;
  }
  .text-purple {
    color: purple;
  }

  .footer-custom {
    height: 250px; 
    
  }
  .centralizar {
    padding: 1px; 
  }

  .custom-text {
    font-size: 24px; 
    font-weight: bold; 
  }