.main{
    color: #ffff;
    text-decoration-color:  #ffff;
    padding-top: 2%;
    padding-bottom: 2%;
}
.des{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.arq_im{
    width: auto;
    height: auto;
    margin-left: 45px;
    margin-top: 45px;
    border-radius: 10px;
    border-color: #ffff; 
}
label {
    display: block;
    font: 1.15rem 'Fira Sans', sans-serif;
}
input,
label {
    margin: 0.5rem 0;
}
.dt{
    width: 150px;
    height: 35px;
    border-radius: 10px;
}
.ce{
    color: #ffff;
    height: auto;
    width: 230px;
    margin-left: 35%;
}
.box{
    box-sizing: content-box;
    width: 100%;
}
.lb{
    width: 100px;
    height: 100px;
}