.text-primary {
    color: #33FF00 !important;
}

.btn-primary {
    background-color: #33FF00 !important;
    border: 1px solid #30c513 !important;
}

.bg-dark {
    background-color: #2D1169 !important;
}

.btn-register{
    background-color: #33FF00 !important;
    border: 1px solid #30c513 !important;
    color: white;
}
